@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar Styles */

nav {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  margin-right: 24px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #101010;
}

.logo-text {
  width: 90px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  margin-left: 12px;
}

/* Headline Section Styling */

header {
  background-image: url("./images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 376px;
  height: 606px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
}

.header-text {
  width: 327px;
  height: 192px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.occupation {
  color: #36b37e;
}

.profile-description {
  width: 327px;
  height: 164px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  display: flex;
  justify-content: space-evenly;
}
